<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>View Upload</title>
</head>
<body>
    <h1 style="text-align: center;">Your uploaded file</h1>
    <% if (locals?.type.startsWith('video')) { %>
        <div class="video-container">
            <video src="/file/<%= locals?.id %>" controls></video>
          </div>
    <% } else if(locals?.type.startsWith('image')){%>
        <div class="image-container">
            <img src="/file/<%= locals?.id %>" >
          </div>
        <% } %>
</body>
</html>